.typer {
	display: block;
	width: 100%;
	margin: 0.2em 0;
	clear: both;
}

.typing {
	float: left !important;
}

#insert-point {
	position: relative;
	display: block;
	height: 16px;
	width: 2px;
	background: #fff;
	-webkit-animation: fader 1s linear infinite;
	-moz-animation: fader 1s linear infinite;
	animation: fader 1s linear infinite;
	float: left !important;
}

@-webkit-keyframes fader {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fader {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes fader {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes fader {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fader {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

