<!DOCTYPE html>
<html>
<head>
	<title>{{texts.title}}</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/leaflet/leaflet.css"/>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/static/prism.css"/>
	<script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
{{> partial_prism}}
<script src="static/jquery/jquery.min.js"></script>
<script src="static/leaflet/leaflet.min.js"></script>
<script src="static/raphael/raphael.min.js"></script>
<script src="static/rlayer.js"></script>
<script src="static/route.js"></script>
</body>