<script>
	var routedata = {{{routedata}}};
	var geoinfo = {{{geoinfo}}};
	var agencies = {{{agencies}}};
</script>

<div id="fix">
	<span id="tagline">{{texts.tagline}}</span>
	<span id="subline">{{texts.subline}}</span>
	<div id="map" class="border"></div>
	<div id="buttons">
		{{#routes}}
		<div class="btn-route"><a href="javascript:;" onclick="showRoute('{{id}}')" title="{{texts.route_btn_hint}} {{name}}"><img alt="{{name}}" src="/static/images/{{img}}"/></a></div>
		{{/routes}}
	</div>
</div>