<!DOCTYPE html>
<html>
<head>
	{{> partial_head}}
	<link rel="stylesheet" type="text/css" href="/prism/assets/css/frame.css "/>
</head>
<body requests="de">
	{{> partial_prism}}
    <div class="embed-footer" style="text-align: right; font-size: smaller">
		<p>{{texts.js.subline}} -
			{{texts.frame.by}} <a href="http://opendatacity.de" target="_blank">OpenDataCity</a> (CC-BY) - <a href="{{{main_url}}}" target="_blank">{{texts.frame.moreinfo}}</a></p>
	</div>
	{{> partial_analytics}}
</body>
</html>