<!DOCTYPE html>
<html>
<head>
	{{> partial_head}}
	<script type="text/javascript" src="/prism/assets/js/helper.js"></script>
</head>
<body>

<div id="fb-root"></div>
<script>(function (d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s);
	js.id = id;
	js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="embed-overlay">
	<div id="embed-content"><h1>Weitergeben</h1>

		<form name="embed-form" id="embed-form" action="javascript:;"
			  method="post">
			<fieldset id="embed-size" class="form-inline">
				<legend>Größe</legend>
				<label class="radio">
					<input type="radio" name="size" value="large" checked="checked"> Groß (520&times;490)</label><label class="radio"><input type="radio" name="size" value="medium">
				Mittel (480&times;490)</label><label class="radio"><input type="radio" name="size" value="small"> Klein (360&times;576)</label>
			</fieldset>
			<fieldset class="form-inline">
				<legend>Sprache</legend>
				<label class="radio"><input type="radio" name="lang" value="de" checked="checked"> Deutsch</label><label class="radio"><input type="radio" name="lang" value="en"> Englisch</label></fieldset>
			<h2>Code</h2>

			<p>Kopiere diesen Code in Deine Webseite:</p><code id="embed-code"></code></form>
		<p><a href="javascript:;" class="btn btn-medium btn-primary">Schließen</a></p></div>
</div>


<div id="container">


	<header>

		<h1>{{texts.tagline}}</h1>
		<h4>{{texts.subline}}</h4>

		<div id="language">
			<small><b>deutsch</b> | <a href="http://apps.opendatacity.de/prism/en/">english</a></small>
		</div>

		<div id="social">
			<div id="social-twitter" class="social">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://apps.opendatacity.de/prism/" data-text="Wo führt das hin?" data-via="opendatacity" data-lang="de">Twittern</a>
				<script>!function (d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (!d.getElementById(id)) {
						js = d.createElement(s);
						js.id = id;
						js.src = "//platform.twitter.com/widgets.js";
						fjs.parentNode.insertBefore(js, fjs);
					}
				}(document, "script", "twitter-wjs");</script>
			</div>
			<div id="social-google" class="social">
				<div class="g-plusone"></div>
				<script type="text/javascript">
					window.___gcfg = {lang: 'de'};
					(function () {
						var po = document.createElement('script');
						po.type = 'text/javascript';
						po.async = true;
						po.src = 'https://apis.google.com/js/plusone.js';
						var s = document.getElementsByTagName('script')[0];
						s.parentNode.insertBefore(po, s);
					})();
				</script>
			</div>
			<div id="social-facebook" class="social">
				<div class="fb-like" data-href="http://apps.opendatacity.de/prism/" data-send="false" data-layout="button_count" data-width="180" data-show-faces="true"></div>
			</div>
			<div class="social embed"><a href="javascript:;" class="btn btn-primary embed-button">Einbetten</a></div>

		</div>


	</header>
	<div id="main" role="main">
		<div id="text-intro">
			<p>
				Unsere Visualisierung zeigt exemplarisch, wie bei der Nutzung populärer Dienste von Deutschland aus, Datenpakete durch die Leitungen wandern -
				und auf diesem Weg von verschiedenen Geheimdiensten abgegriffen werden könnten. Bitte einen Dienst wählen:
			</p>
		</div>
		<div id="app">
			{{> partial_prism}}
		</div>
		<div id="text-sub">
			<p>
				Hintergrund: Die Kabel-Routen auf der Karte stammen von <a href="http://www.cablemap.info">www.cablemap.info</a>. Wie die Pakete durch das Netz reisen, haben wir mit dem Programm
				<a href="http://de.wikipedia.org/wiki/Traceroute">Traceroute</a> ermittelt. Es nutzt eines der grundlegenden Internet Protokolle (IP). Es fragt ab, welche IP-Router (Schaltstellen)
				die Anfrage, die in einem oder mehreren „Paketen“ erfolgt, weitergeleitet wird. Doch nicht jeder Router antwortet auf „Traceroute“ und welches Unterseekabel exakt genutzt wird,
				ist uns auch nicht bekannt. Auch können sich je nach Tageszeit oder Wochentag die Routen der Pakete drastisch ändern.
			</p>

			<p>
				So sind die in der Anwendung gezeigten Verbindungen typische Beispiele (in Zeitlupe), die wir aus vielen verschiedenen tatsächlichen Anfragen an die jeweiligen Dienste ausgewählt haben.
				Hinweis: Die Standorte, die anhand der IP-Adresse der Router ermittelt werden, stimmen nicht unbedingt mit dem tatsächlichem pyhsischen Standort überein, sondern ggf. nur mit dem Firmensitz dessen Betreibers.
			</p>

			<p>
				Mehr Informationen zu Prism, Tempora hier:
				<a href="http://www.spiegel.de/thema/nsa_programm_prism/">Spiegel Online</a>,
				<a href="http://www.sueddeutsche.de/thema/Internet-%C3%9Cberwachung">Süddeutsche</a>,
				<a href="https://netzpolitik.org/?s=prism&searchsubmit=Suchen">Netzpolitik</a>.
			</p>

			<p>
				Diese App kann eingebettet werden
				(<a href="//creativecommons.org/licenses/by/3.0/" class="license-cc-by">CC BY</a>) und liegt
				auch <a href="/prism/en">in Englisch</a> vor.
			</p>
		</div>
	</div>
	<footer>
		<p id="creator" class="pull-right">
			Ein Informationsangebot von <a href="//opendatacity.de/">OpenDataCity</a>
		</p>

		<p id="license" class="pull-right">
			<a href="//creativecommons.org/licenses/by/3.0/">CC BY</a><br/>
		</p>

		<p id="attribution-and-privacy" class="pull-left">
			<a href="http://www.opendatacity.de/kontakt/">Impressum</a><br/>
			Diese Seite verwendet
			<a href="//twitter.github.com/bootstrap/">Bootstrap</a>,
			<a href="//fortawesome.github.io/Font-Awesome/">Font Awesome</a>,
			<a href="//mapbox.github.io/tilemill/">Tilemill</a>,
			<a href="//leafletjs.com/">Leaflet</a> und
			<a href="//raphaeljs.com/">Raphaël</a>.<br/>
			Die Besuche der Website werden mit Google Analytics ausgewertet.
		</p>
	</footer>
</div>
{{> analytics}}
</body>