#map {
	width: 99%;
	margin: 0;
}

.leaflet-top {
	display: block !important;
}

.embed-footer {
	margin-right: 10px;
}

@media screen and (max-width: 860px) {

	#map {
		height: 560px !important
	}

}

@media screen and (max-width: 640px) {

	#map {
		height: 360px !important
	}

	.leaflet-left {
		width: 94% !important;
	}

}

@media screen and (max-width: 520px) {

	#map {
		height: 360px !important
	}

	.leaflet-left {
		width: 93% !important;
	}
}

@media screen and (max-width: 420px) {

	#map {
		height: 400px !important
	}

	.leaflet-left {
		width: 92% !important;
	}

	.embed-footer {
		letter-spacing:-1px !important;
	}
}

.btn-route {
	min-height: 34px !important;
	max-height: 34px !important;
	line-height: 34px !important;
}

.src-choose {
	text-align: center;
	margin-bottom: 3px !important;
	font-size: 16px !important;
}