body {

	margin: 0px;
	padding: 0px;
	background: #fff;
	font-family: "Helvetica", "Arial", sans-serif;
}

#container {

	display: block;
	position: relative;
	margin: 0px;
	padding: 0px 0px 100px;

}

header {

	display: block;
	position: relative;
	margin: 0px auto;
	padding: 0px 20px;
	max-width: 920px;

}

header h1 {

	padding: 0;
	padding-top: 20px;

}

header h4 {
	padding: 20px 0px;

}

header #language {
	display: block;
	position: absolute;
	right: 20px;
	text-align: left !important;
	top: 10px;
	margin: 0px;
	padding: 0px;
	width: 100px;
}

header #social {
	display: block;
	position: absolute;
	right: 20px;
	top: 90px;
	margin: 0px;
	padding: 0px;
	width: 100px;
	z-index: 100;
}

#text-intro, header h1, header h4 {
	padding-right: 120px !important;
}

header .social {
	margin-bottom: 3px;
}

header .embed {
	margin-top: 20px;
}

#main {

	display: block;
	position: relative;
	margin: 0px auto;
	padding: 0px 20px;
	max-width: 920px;

}

#app {

	display: block;
	position: relative;
	width: 100%;
	margin-top: 20px;

}

#map {

	display: block;
	position: relative;
	width: 100%;
	height: 500px;
	z-index: 100;

}

#text-sub {

	padding: 50px 0px;

}

#text-sub p, #text-intro p {

	line-height: 1.6em;
	font-size: 18px !important;
	color: #666;

}

footer {

	display: block;
	position: relative;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	border-top: 1px solid #ebebeb;
	color: #666;
	background-color: #fff;
	z-index: 300;

}

footer p {

	display: block;
	position: relative;
	margin: 0px;
	padding: 0px 10px;
	min-height: 50px;
	line-height: 50px;

}

footer p a {

	color: #666 !important;

}

footer #attribution-and-privacy {

	display: block;
	position: relative;
	margin: 0px;
	padding: 9px 10px;
	min-height: 32px;
	line-height: 16px;
	font-size: 12px;

}

footer #license {

	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	text-indent: -99999px;
	text-decoration: none;
	color: transparent;
	background: url(../img/cc-by.png) center center no-repeat;

}

footer .social {
}

footer .social a {

	margin-left: 10px;
	white-space: nowrap;

}

footer .social a i {

	color: #ccc;

}

.service {

	display: block;
	position: fixed;
	z-index: 1000;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.8);
	background-position: center center;
	background-repeat: no-repeat;

}

.service-de {
	background-image: url(../img/services/de.png);
}

.service-es {
	background-image: url(../img/services/es.png);
}

.service-fr {
	background-image: url(../img/services/fr.png);
}

.service-il {
	background-image: url(../img/services/il.png);
}

.service-it {
	background-image: url(../img/services/it.png);
}

.service-ru {
	background-image: url(../img/services/ru.png);
}

.service-uk {
	background-image: url(../img/services/uk.png);
}

.service-us {
	background-image: url(../img/services/us.png);
}

/* by ffalt */

/*general*/

*[hidden] {
	display: none;
}

.border {
	border: 1px solid #a8a8a8;
	border-radius: 3px;
}

#fix {
}

/*texts*/

#tagline {
	font-weight: bold;
	text-transform: uppercase;
	display: block;
}

#typer p:first-child {
	font-weight: bold;
	text-transform: uppercase;
}

.typing {
	margin: 0 !important;
	padding: 0 !important;
}

.leaflet-top {
	width: 400px;
	display: none;
}

.hops {
	font-size: larger;
	border: 1px solid #a8a8a8;
	width: 100%;
	margin-left: 10px;
	height: 96px;
	line-height: 20px;
	border-radius: 3px;
	color: lime;
	padding: 4px;
	overflow-y: auto;
	background: rgba(0, 0, 0, 0.5);
}

.hops p {
	display: block;
	width: 100%;
	margin: 0.2em 0;
	clear: both;
}

#agencies {
	padding: 0;
	margin: 0;
	color: #fff123;
}

/*map*/

.leaflet-control-attribution {
	display: none;
}

.leaflet-control-zoom {
	display: none;
}

.src-choose {
	font-size: 18px;
}

.buttons_de, .buttons_ch {
	text-align: center;
}

.src_de, .src_ch, .buttons_de, .buttons_ch {
	display: none;
}

body[requests="de"] .src_de,
body[requests="ch"] .src_ch {
	display: inline-block;
}
body[requests="de"] .buttons_de,
body[requests="ch"] .buttons_ch {
	display: block;
}

body[requests="de"] .btn_src_de,
body[requests="ch"] .btn_src_ch {
	margin-right: 0;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	cursor: default;
	background-color: #f5fff2;
}

.btn-route img {
}

.btn-route {
	width: 70px;
	margin-right: 1px;
	margin-top: 0;
	margin-bottom: 4px;
	padding-bottom: 2px;
	min-height: 40px;
	line-height: 40px;
	height: 40px;
	display: inline-block;
}

.btn-route {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fffaff), color-stop(1, #dfdfdf));
	background: -moz-linear-gradient(center top, #fffaff 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffaff', endColorstr='#dfdfdf');
	background-color: #fffaff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}

.btn-route:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #fffaff));
	background: -moz-linear-gradient(center top, #dfdfdf 5%, #fffaff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#fffaff');
	background-color: #dfdfdf;
}

.btn-route:active {
	position: relative;
	top: 1px;
}

.btn-route:hover {
	background-color: #dfdfdf;
}

.btn-route:active {
	position: relative;
	top: 1px;
}

.btn_active {
	border: 1px solid #1bdc00 !important;
}

/*animation*/

path {
	stroke: #0e06e4;
	stroke-width: 1px;
}

path:hover {
	stroke: brown;
}

circle {
	cursor: pointer;
}

circle:hover {
	stroke: brown;
}

.typer {
	display: block;
	width: 100%;
	margin: 0.2em 0;
	clear: both;
}

.typing {
	float: left !important;
	text-transform: uppercase;
}

#insert-point {
	position: relative;
	display: block;
	height: 16px;
	width: 2px;
	background: #fff;
	-webkit-animation: fader 1s linear infinite;
	-moz-animation: fader 1s linear infinite;
	animation: fader 1s linear infinite;
	float: left !important;
}

@-webkit-keyframes fader {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fader {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes fader {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes fader {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fader {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#cable {
	position: relative;
	background-color: #e09d40;
	max-height: 3px;
	height: 3px;
	min-width: 20px;
	width: 20px;
	margin-left: 3px;
	margin-right: 3px;
	float: left;
	top: 7px;
}

.legend a {
	margin-right: 3px;
}

.legend {
	font-size: 12px;
	background-color: #fff;
	padding: 4px;
}

#embed-overlay {

	display: none;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.7);
	overflow-y: auto;
	z-index: 1000;

}

#embed-content {

	display: block;
	position: relative;
	width: 640px;
	background-color: #fff;
	margin: 20px auto;
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0px 0px 50px -15px rgba(0, 0, 0, 0.9);

}

#embed-content fieldset {

	padding-bottom: 20px;

}

#embed-content fieldset legend {

	margin-bottom: 10px;
	line-height: 30px;

}

#embed-content label+label {

	margin-left: 20px;

}

#embed-content code {

	display: block;
	position: relative;
	padding: 10px;
	white-space: normal;
	color: #444

}

.upper {
	text-transform: uppercase;
}