<script>
	var routedata = {{{routedata}}};
	var geoinfo = {{{geoinfo}}};
	var agencies = {{{agencies}}};
	var texts = {{{jstexts}}};
</script>

<div id="fix">
	<div id="buttons">
		{{#routes}}
		<div class="btn-route"><a href="javascript:;" onclick="showRoute('{{id}}')" title="{{name}}"><img alt="{{name}}" src="/prism/assets/img/logos/{{img}}"/></a></div>
		{{/routes}}
	</div>
	<div id="map" class="border"></div>
</div>